.display {
  width: 100vw;
  height: calc(100% - 8rem);
  margin: 2rem 0;
  background-color: aqua;
}

.display p {
  text-transform: uppercase;
  color: black;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.display .nav-main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: flex-start;
  background-color: blueviolet;
  height: 100%;
}

.display .nav-main nav p {
  color: green;
}

.display .nav-main nav p {
  color: green;
}

.display .nav-main nav {
  order: 0;
  flex-grow: 1;
  align-self: flex-start;
  background-color: red;
}

.display .nav-main main {
  order: 0;
  flex-grow: 10;
  align-self: flex-start;
  height: 100%;
  background-color: yellowgreen;
}