.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: orange;
}

.footer .menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0rem;
  color: black;
}

.footer .ul-container {
  height: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.footer .li-items {
  align-self: center;
}

.footer .menu ul :hover {
  color: white;
  font-weight: 400;
}